<div class="container dark-theme">
    
    <div class="logo">
        <a routerLink="/home"><img src={{logo}}></a>
    </div>

    <div class="title">
        <a routerLink="/home"><h1>{{title}}</h1></a>
    </div>

    <div class="links">
        <a mat-button routerLinkActive #home="routerLinkActive" routerLink="/home" 
        [color]="home.isActive? 'warn' : 'inherit'">
            Home<mat-icon>home_outline</mat-icon>
        </a>
        <a mat-button routerLink="/fav" 
        [color]="!home.isActive? 'warn' : 'inherit'">
            Favorites <mat-icon>favorites</mat-icon>
        </a>
    </div>

    <div class="toggles">
        <button mat-button matTooltip="Toggle temperature unit" (click)="toggleTempMode()">
            <span>{{isCelsius? CEL_UNIT : FAR_UNIT}}</span>
        </button>
        <button *ngIf="isLight; else dark_mode" mat-button matTooltip="Switch to dark mode" (click)="toggleDarkMode()">
            <mat-icon [ngStyle]="{color:'#000000'}">dark_mode</mat-icon>
        </button>
        <ng-template #dark_mode>
            <button mat-button matTooltip="Switch to light mode" (click)="toggleDarkMode()">
                <mat-icon [ngStyle]="{color:'#FC7300'}">light_mode</mat-icon>
            </button>
        </ng-template>
    </div>

</div>