<div class="container">
    <table *ngIf="currWeather$ | async as currWeather">
        <tr class="body">
            <td class="title">
                <h2>{{city.name}}, {{city.country}}</h2>
            </td>
            <td class="img">
                <img [src]="currWeather.icon.url | weatherIcon" [alt]="currWeather.icon.text">
            </td>
            <td class="date">
                <span >
                    <p>{{currWeather.localTime | dateUpdate: 'D-M-Y'}}</p>
                    <p>{{currWeather.localTime | dateUpdate: 'H-M-Z'}}</p>
                </span>
            </td>
            <td class="txt">
                <p *ngIf="isCelsius; else isFahr">
                    {{currWeather.temperature.metric}}{{CEL_UNIT}} 
                </p> 
                <ng-template #isFahr>
                    <p>{{currWeather.temperature.imperial}}{{FAR_UNIT}} </p>
                </ng-template> 
                <p>, {{currWeather.icon.text}}</p>
            </td>
        </tr>
    </table>
    <mat-divider></mat-divider>
</div>
