<div class="container" *ngIf="currWeather$ | async as currWeather; else noCityShowing">
    <!-- add/remove to/from favorites section-->
    <div class="fav" *ngIf="id == -1; else isFavoriteList">
        <span (click)="toggleFav(city)">
            <mat-icon *ngIf="!city.isFav; else isFavorite" matTooltip="Add {{city.name}} to Favorites" color="warn">
                favorite_border
            </mat-icon>
        </span>
        <ng-template #isFavorite>
            <mat-icon matTooltip="Remove {{city.name}} from Favorites" color="warn">favorite</mat-icon>
        </ng-template>
    </div>
    <ng-template #isFavoriteList>
        <div class="idnum">
            <p>#{{id}}</p>
        </div>
    </ng-template>
    <!-- current weather section-->
    <table>
        <tr class="body">
            <td class="title">
                <h2>{{city.name}}, {{city.country}}</h2>
            </td>
            <td class="img">
                <img [src]="currWeather.icon.url | weatherIcon" [alt]="currWeather.icon.text">
            </td>
            <td class="date">
                <span >
                    <p>{{currWeather.localTime | dateUpdate: 'D-M-Y'}}</p>
                    <p>{{currWeather.localTime | dateUpdate: 'H-M-Z'}}</p>
                </span>
            </td>
            <td class="txt">
                <p *ngIf="isCelsius; else isFahr">
                    {{currWeather.temperature.metric}}{{CEL_UNIT}} 
                </p> 
                <ng-template #isFahr>
                    <p>{{currWeather.temperature.imperial}}{{FAR_UNIT}} </p>
                </ng-template> 
                <p>, {{currWeather.icon.text}}</p>
            </td>
        </tr>
    </table>
    <mat-divider></mat-divider>
</div>
<ng-template #noCityShowing>
    <mat-spinner></mat-spinner>
</ng-template>
