.container{
    width: 100%;
    margin-bottom: 1rem;
}

table, ng-template{
    width: 100%;
    display: flex;
    padding: 0 2rem;
    align-items: center;
}
tr{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr 0.5fr;
    grid-template-areas:
    "title img"
    "date txt"
    ". . ";
}
td{
    display: flex;
    align-items: center;
    text-align: center;
} 
.title{
    grid-area: title;
    display: flex;
    text-align: center;
    justify-content: flex-start;
}

   
.date{
    grid-area:date;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.txt{
    grid-area:txt;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.img{
    grid-area: img;
    margin:auto;
}
img{
    width: 155px;
}    

@media only screen and (max-width: 600px) {
    .title{
        h2{
            font-size: 16px;
        }
    }
    img{
        width: 115px;
        margin: 0;
    }
    .date{
        font-size: 12px;
    }
    .txt{
        font-size: 14px;
    } 
}
@media only screen and (max-width: 800px) {
    img{
        width: 135px;
    } 
}
