.container{
    width: 100%;
    margin-bottom: 1rem;
}

table, ng-template{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}
.thead{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    h2{
        padding-right: 1rem;
    }
}
tr{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas:
    "date img"
    "date txt";
}
td{
    display: flex;
    align-items: center;
    text-align: center;
}    
.date, .txt{
    grid-area: date;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.date{ grid-area:date; font-size: 16px;}
.txt{ grid-area:txt; font-size: 18px;}

.img{
    grid-area: img;
    margin:auto;
}
img{
    width: 155px;
}    

@media only screen and (max-width: 600px) {
    .thead{
        h2{
            font-size: 16px;
        }
    }
    img{
        width: 115px;
        margin: 0;
    }
    .date{
        font-size: 12px;
    }
    .txt{
        font-size: 14px;
    } 
}
@media only screen and (max-width: 800px) {
    img{
        width: 135px;
    } 
}
