<div class="container">
    <!-- title area -->
    <div class="title">
        <h2><mat-icon>search</mat-icon>Search Locations</h2>
        <div *ngIf="(currentLocation$ | async) as currentLocation">
            <mat-icon>location_on</mat-icon>
            {{currentLocation.AdministrativeArea.EnglishName}}, {{currentLocation.Country.EnglishName}}
        </div> 
    </div>

    <div class="find" spellcheck="false">
        <!-- search form -->
        <mat-form-field appearance="outline">
            <mat-label>Enter City Name</mat-label>
            <a routerLink="/home">
                <input matInput #input type="text" [matAutocomplete]="auto"
                [formControl]="inputSearch" [value]="inputValue">
            </a>
            <button *ngIf="input.value" matSuffix mat-icon-button (click)="inputSearch.reset()" matTooltip="Clear">
                <mat-icon>close</mat-icon>
            </button>
            <mat-hint align="end" [ngStyle]="{color: 'gray'}">Minimum 3 characters</mat-hint>
        </mat-form-field>

        <!-- auto complete -->
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayAuto" autoActiveFirstOption (optionSelected)="onSelected()">
            <ng-container>
                <mat-option *ngFor="let city of (filterCities$ | async)" [value]="city">
                    <span [innerHTML]="city.LocalizedName | highlight: matchHighlight"></span>
                    , {{city.Country.LocalizedName}} ({{city.AdministrativeArea.LocalizedName}})
                </mat-option>
            </ng-container>
        </mat-autocomplete>        
    </div>

    <!-- weather-area -->
    <app-weather [inputCity]="selectedCity"></app-weather>
</div>

